<!DOCTYPE html>
<html lang="en" ng-app="PreparaApp">
  <head>
    <title>bookmark App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">
    <!-- CDN provided-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
    <!-- bower:css-->
    <!-- endbower-->
    <!-- inject:css-->
    <!-- endinject-->
  </head>
  <body layout="row" ng-controller="MainCtrl">
    <!--Sidenav-->
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
      <md-toolbar>
        <h1>Menu</h1>
      </md-toolbar>
      <md-content>
        <md-list>
          <!--Loop through the authors list-->
          <md-list-item>
            <md-button flex ui-sref="curso">
              <span>Curso</span>
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button flex ui-sref="disciplinas">
              <span>Disciplinas</span>
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button flex ui-sref="desempenho">
              <span>Desempenho</span>
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>
      <div class="new_author">
        <!--Show dialog to create new author on click.-->
        <md-button aria-label="new_author" ng-click="newAuthorDialog($event)" class="md-fab md-raised md-primary md-mini">
          <ng-md-icon icon="add">
            <md-tooltip direction="top">Add new author</md-tooltip>
          </ng-md-icon>
        </md-button>
      </div>
    </md-sidenav>
    <!--Main toolbar-->
    <div layout="column" flex>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button hide-gt-sm aria-label="Menu" ng-click="toggleSidenav()" class="md-button-icon">
            <ng-md-icon icon="menu" class="authors"></ng-md-icon>

          </md-button>
          <h1>Prepara</h1>
        </div>
      </md-toolbar>
      <!--Main content-->
      <md-content class="md-default-theme">
        <div class="md-padding" ui-view>

        </div>
      </md-content>
    </div>
    <!-- bower:js-->
    <!-- endbower-->
    <!-- inject:js-->
    <!-- endinject-->
  </body>
</html>