<!DOCTYPE html>
<html lang="en" ng-app="PreparaApp">
  <head>
    <title>bookmark App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">
    <!-- CDN provided-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
    <!-- bower:css-->
    <!-- endbower-->
    <!-- inject:css-->
    <!-- endinject-->
  </head>
  <body layout="row" ng-controller="MainCtrl">
    <!--Sidenav-->
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
      <md-toolbar>
        <h1>Authors</h1>
      </md-toolbar>
      <md-content>
        <md-list>
          <!--Loop through the authors list-->
          <md-list-item ng-repeat="author in authors">
            <md-button ng-click="selectAuthor(author)">
              <md-icon md-svg-icon="author" class="author_avatar"></md-icon><span ng-class="{selected: author === selectedAuthor}">{{author.name}}</span>
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>
      <div class="new_author">
        <!--Show dialog to create new author on click.-->
        <md-button aria-label="new_author" ng-click="newAuthorDialog($event)" class="md-fab md-raised md-primary md-mini">
          <ng-md-icon icon="add">
            <md-tooltip direction="top">Add new author</md-tooltip>
          </ng-md-icon>
        </md-button>
      </div>
    </md-sidenav>
    <!--Main toolbar-->
    <div layout="column" flex>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button hide-gt-sm aria-label="Menu" ng-click="toggleSidenav()" class="md-button-icon">
            <ng-md-icon icon="view_module" class="authors"></ng-md-icon>
          </md-button>
          <h1>Bookmark</h1>
        </div>
      </md-toolbar>
      <!--Main content-->
      <md-content class="md-default-theme">
        <div class="md-padding">
          <h2 ng-show="selectedAuthor.Books.length">Books by {{selectedAuthor.name}}</h2>
          <div class="author_actions">
            <md-button aria-label="view_profile" ng-click="showAuthorProfile($event)" class="author_profile md-fab md-raised md-primary md-mini">
              <ng-md-icon icon="person">
                <md-tooltip direction="bottom">View {{selectedAuthor.name}}'s profile</md-tooltip>
              </ng-md-icon>
            </md-button>
            <md-button aria-label="new_book" ng-click="newBookDialog($event)" class="new_book md-fab md-raised md-primary md-mini">
              <ng-md-icon icon="my_library_add">
                <md-tooltip direction="bottom">Add new book by {{selectedAuthor.name}}</md-tooltip>
              </ng-md-icon>
            </md-button>
          </div>
        </div>
        <md-content layout="column" class="md-padding">
          <md-card ng-repeat="book in selectedAuthor.Books">
            <div layout="row" layout-align="end">
              <!--Edit and Delete Books-->
              <div class="books_menu">
                <md-button aria-label="edit" ng-click="editBook($event, book)" class="md-fab md-raised md-mini">
                  <ng-md-icon icon="edit"></ng-md-icon>
                  <md-tooltip direction="bottom">edit book details</md-tooltip>
                </md-button>
                <md-button aria-label="delete" ng-click="deleteBook($event, book)" class="md-fab md-raised md-mini">
                  <ng-md-icon icon="delete"></ng-md-icon>
                  <md-tooltip direction="bottom">delete book</md-tooltip>
                </md-button>
              </div>
            </div>
            <md-card-title>
              <md-card-title-text><span class="md-headline">{{book.name}}</span><span class="md-subhead">Publication date: {{ book.publication_date | date: mediumDate}}</span></md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div class="md-subhead">{{book.description}}</div>
              <md-chips>
                <md-chip>ISBN Number: {{ book.isbn}}</md-chip>
              </md-chips>
            </md-card-content>
          </md-card>
        </md-content>
      </md-content>
    </div>
    <!-- bower:js-->
    <!-- endbower-->
    <!-- inject:js-->
    <!-- endinject-->
  </body>
</html>