    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Curso</span>
            <span class="md-subhead"></span>
              <md-input-container flex="50">
                <label>Escolha o curso:</label>
                <md-select name="type" ng-model="project.type" required>
                  <md-option value="{{c.id}}" ng-repeat="c in cursos">{{c.nome}}</md-option>
                </md-select>
              </md-input-container>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Salvar</md-button>
        </md-card-actions>
      </md-card>
    </div>